# Numpy CSV minipulater

In [1]:
import pandas as pd
import glob

In [2]:
pattern = 'F:\\NY_taxi\\2018\\*.csv'
dirs = glob.glob(pattern)

In [3]:
for path in dirs:
    file = pd.read_csv(path)
    table = file.loc[2:, [
                        'tpep_pickup_datetime',
                        'tpep_dropoff_datetime',
                        'PULocationID',
                        'DOLocationID',
                        'trip_distance',
                        'passenger_count',
                        'total_amount']]
    
    table.to_csv(path[:-4]+'_projected.csv', index=False, columns=[
                                                        'tpep_pickup_datetime',
                                                        'tpep_dropoff_datetime',
                                                        'PULocationID',
                                                        'DOLocationID',
                                                        'trip_distance',
                                                        'passenger_count',
                                                        'total_amount'])
    print(f'{path} finished..')
    del table
    del file

F:\NY_taxi\2018\yellow_tripdata_2018-01.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-02.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-03.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-04.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-05.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-06.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-07.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-08.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-09.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-10.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-11.csv finished..
F:\NY_taxi\2018\yellow_tripdata_2018-12.csv finished..

In [3]:
table = pd.read_csv(dirs[0])

In [5]:
table.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount'],
      dtype='object')

In [6]:
table.iloc[:2,:]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.0,0.0,0.3,5.8
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.0,0.0,0.3,15.3

In [9]:
type(table.iloc[0,2])

str

In [10]:
type(table.iloc[0,3])

numpy.int64

In [11]:
list(map(type, table.iloc[0, :]))

[numpy.int64,
 str,
 str,
 numpy.int64,
 numpy.float64,
 numpy.int64,
 str,
 numpy.int64,
 numpy.int64,
 numpy.int64,
 numpy.float64,
 numpy.float64,
 numpy.float64,
 numpy.float64,
 numpy.float64,
 numpy.float64,
 numpy.float64]

In [12]:
type(Out[11][0])

type

In [15]:
paths = glob.glob('tensor_dataset/full_year_2018_15min/tensors/*.pkl')

In [16]:
len(paths)

35040

In [17]:
paths[:5]

['tensor_dataset/full_year_2018_15min/tensors\\2018-01-01_00;00;00-2018-01-01_00;15;00--2018-01-01_00;00;00-2018-01-08_00;00;00--p1-0.pkl',
 'tensor_dataset/full_year_2018_15min/tensors\\2018-01-01_00;15;00-2018-01-01_00;30;00--2018-01-01_00;00;00-2018-01-08_00;00;00--p1-1.pkl',
 'tensor_dataset/full_year_2018_15min/tensors\\2018-01-01_00;30;00-2018-01-01_00;45;00--2018-01-01_00;00;00-2018-01-08_00;00;00--p1-2.pkl',
 'tensor_dataset/full_year_2018_15min/tensors\\2018-01-01_00;45;00-2018-01-01_01;00;00--2018-01-01_00;00;00-2018-01-08_00;00;00--p1-3.pkl',
 'tensor_dataset/full_year_2018_15min/tensors\\2018-01-01_01;00;00-2018-01-01_01;15;00--2018-01-01_00;00;00-2018-01-08_00;00;00--p1-4.pkl']

In [18]:
ids = {}
for k, v in enumerate(paths):
    ids[k] = v

In [19]:
ids[1]

'tensor_dataset/full_year_2018_15min/tensors\\2018-01-01_00;15;00-2018-01-01_00;30;00--2018-01-01_00;00;00-2018-01-08_00;00;00--p1-1.pkl'

In [20]:
len(ids)

35040

In [28]:
35040 // 128 * 128

34944